/project
/target
/.idea/
/src/main/external_resources/DBLP/
/src/main/external_resources/TwitterData/08_09_17_00_stream000000.log
/src/main/external_resources/DBLP/article.json
/src/main/external_resources/DBLP/book.json
/src/main/external_resources/DBLP/data.json
/src/main/external_resources/DBLP/incollection.json
/src/main/external_resources/DBLP/inproceedings.json
/src/main/external_resources/DBLP/mastersthesis.json
/src/main/external_resources/DBLP/person.json
/src/main/external_resources/DBLP/phdthesis.json
/src/main/external_resources/DBLP/proceedings.json
/src/main/external_resources/DBLP/www.json
/src/main/external_resources/DBLPData/article.json
/src/main/external_resources/DBLPData/book.json
/src/main/external_resources/DBLPData/data.json
/src/main/external_resources/DBLPData/incollection.json
/src/main/external_resources/DBLPData/inproceedings.json
/src/main/external_resources/DBLPData/mastersthesis.json
/src/main/external_resources/DBLPData/person.json
/src/main/external_resources/DBLPData/phdthesis.json
/src/main/external_resources/DBLPData/proceedings.json
/src/main/external_resources/DBLPData/www.json
.DS_Store
/src/main/external_resources/TPCH/customer.tbl
/src/main/external_resources/TPCH/lineitem.tbl
/src/main/external_resources/TPCH/nation.tbl
/src/main/external_resources/TPCH/orders.tbl
/src/main/external_resources/TPCH/partsupp.tbl
/src/main/external_resources/TPCH/partx.tbl
/src/main/external_resources/TPCH/region.tbl
/src/main/external_resources/TPCH/supplier.tbl
